<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="signUpForm.controls['firstname'].dirty && signUpForm.hasError('required','firstname')"
                                    class="text-danger">

                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstname" type="text" placeholder="FirstName">

                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['firstname'].dirty && signUpForm.hasError('required','firstname')"
                                class="text-danger">*First name is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['lastname'].dirty && signUpForm.hasError('required','lastname')"
                                class="text-danger">

                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastname" type="text" placeholder="Last Name">

                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['lastname'].dirty && signUpForm.hasError('required','lastname')"
                                class="text-danger">*Last name is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"
                                class="text-danger">

                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">

                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"
                                class="text-danger">*Email is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')"
                                class="text-danger">

                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username">

                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')"
                                class="text-danger">*Username is required</small>

                            <div class="form-group pt-3">

                                <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"
                                class="text-danger">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass" class="fa {{eyeIcon}}"></span>
                                </div>

                            </div>
                            <small
                                *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"
                                class="text-danger">*Password is required</small>


                            <button type="submit" class="btn.btn-primary btn-block mt-4 w-100" (click)="onSignup()">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget"
                                    routerLink="/login">Login</a></div>
                        </form>
                    </div>
                    <!-- <div class="mx-3 my-3 py-3 bordert">
                        <div class="text-center py-3 ">
                            <a href="https://www.facebook.com" target="_blank" class="px-2"><img
                                    src="https://th.bing.com/th/id/R.39a1d68aec01e3a9ce7c0ad7b9a9c6b2?rik=oQTpDpcTmfQpQg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffacebook-logo-png-image-2335-1403.png&ehk=A6gzMacsllFktQ3DwgKCwXCKBhdJNlpCydh%2bXl3VABQ%3d&risl=&pid=ImgRaw&r=0"></a>
                            <a href="https://www.google.com" target="_blank" class="px-2"><img
                                    src="https://pixlok.com/wp-content/uploads/2021/04/Google-Icon-PNG.jpg"></a>
                            <a href="https://www.github.com" target="_blank" class="px-2"><img
                                    src="https://pngimg.com/uploads/github/github_PNG40.png"></a>


                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </div>

    </div>